<form class="form-inline" onsubmit="return submitAddTransactionForm()">
    <div class="form-group">
        <label for="amount-input">Amount: </label>
        <input type="number" class="form-control" id="amount-input" placeholder="Amount">
    </div>
    <div class="form-group">
        <label for="merchant-input">Merchant: </label>
        <input type="text" class="form-control" id="merchant-input" placeholder="Merchant">
    </div>
    <div class="form-group">
        <label for="date-input">Created: </label>
        <input type="text" class="form-control" id="date-input" placeholder="Created at">
    </div>
    <button type="submit" class="btn btn-success add-transaction-btn">Add Transaction</button>
</form>
