<div id="form-wrapper">
    <div id="form-header">
        <h1>Login</h1>
    </div>
    <div class="input-group ">
        <span class="input-group-addon" id="basic-addon1">Email</span>
        <input type="email" id="email"class="form-control" placeholder="Enter Email" aria-describedby="basic-addon1">
    </div>
    <div class="input-group ">
        <span class="input-group-addon " id="basic-addon2">Password</span>
        <input type="password" id="pwd" class="form-control" placeholder="Enter Password" aria-describedby="basic-addon2">
    </div>
    <div>
        <button id='submit-btn' type="button" class="btn btn-primary btn-lg" onclick="submitAuthenticationForm()">Log In</button>
    </div>
</div>