<div id="table-wrapper">
    <h2 id="table-title">Transaction List</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Amount</th>
                <th>Card</th>
                <th>Date</th>
                <th>Merchant</th>
                <th>Receipt State</th>
                <th>Reimbursable</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    <div id="page-controller-wrapper">

    </div>
    <div id="add-trans-wrapper">

    </div>
</div>